*{
    box-sizing: border-box;
}


a{
    color: red;
}

.sponge-image{
    width: 250px
}
.giant-bob {
    float: right;
    width: 150px;
}

article {
    display:inline-block;
    width: 50vw;
}

.cj-text {
    color: rebeccapurple;
    height: 12px;
}

.giant-bob:hover{
    width:500px;
}

#cj-list-title{
    text-decoration: underline;
}

.outer-box{
    width: 25vw:
    height: 25vw;
    border: 1px solid black;
    margin: 25px;
    background-color: aquamarine;
    padding: 10px;
}

.inner-box{
    height: 50%;
    width: 50%;
    border: 1px dotted green;
    padding: 5px;
}

#second-box{
    background-color: red;
}

.lorem-text{
    clear: right;
}